<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build Phase's</key>
	<string>$(SRCROOT)/$(BUILT_PRODUCTS_DIR)/$(INFOPLIST_PATH)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>My Association</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow My Association to access your camera for sharing photos in chat , Timeline and set profile picture</string>
	<key>NSContactsUsageDescription</key>
	<string>My Association  need contacts access to help you choose from your contacts convenietly. This information not shared anywhere else.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to provide security feature to the user that can be enabled from the inapp settingds.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow My Association to access location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow My Association to access your current location to locate nearby service provider for ease of access.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow My Association to use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow My Association to access your current location to locate nearby service provider for ease of access.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow application to record audio </string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow My Association to save photos from the in app gallery to your local device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow My Association to access your photo Library for sharing photos in chat and for updating your profile.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech recognition will be used to determine which words you speak into this device's microphone.</string>
	<key>UIAppFonts</key>
	<array>
		<string>BubbleBobble-rg3rx.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>poppins_bold.ttf</string>
		<string>poppins_regular.ttf</string>
		<string>poppins_semi_bold.ttf</string>
		<string>poppins_extrabold.ttf</string>
		<string>comic.ttf</string>
		<string>Courier_bold.ttf</string>
		<string>Gotham-Black.ttf</string>
		<string>Gotham-Book.ttf</string>
		<string>Gotham-Bold.ttf</string>
		<string>Great-Vibes.ttf</string>
		<string>Modern_regular.ttf</string>
		<string>montserrat_regular.ttf</string>
		<string>montserrat_semi_bold.ttf</string>
		<string>Roboto_black.ttf</string>
		<string>SF_bold.ttf</string>
		<string>stencil.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
